In [17]:
%reload_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [18]:
%%sql
DROP TABLE IF EXISTS CourseData;

 * sqlite:///CourseData.db
Done.

[]

In [19]:
%%sql
sqlite:///CourseData.db
DROP TABLE IF EXISTS COURSECATALOGS;
DROP TABLE IF EXISTS COURSES;
DROP TABLE IF EXISTS TEACHERS;
DROP TABLE IF EXISTS COURSEMEETINGS;

Done.
Done.
Done.
Done.

[]

In [9]:
%%sql
SELECT Count(*) FROM import_course_meetings;

 * sqlite:///CourseData.db
Done.

[(317339,)]

In [10]:
%%sql
SELECT Count(*) FROM import_courses;

 * sqlite:///CourseData.db
Done.

[(15955,)]

In [20]:
%%sql
CREATE TABLE COURSECATALOGS (
    CCID INTEGER PRIMARY KEY,
    catalog_id TEXT,
    program_code TEXT,    
    program_name TEXT,
    course_title TEXT,
    prereqs TEXT,    
    coreqs TEXT,
    fees TEXT,
    attributes TEXT,    
    description TEXT
);

 * sqlite:///CourseData.db
Done.

[]

In [27]:
%%sql
DROP TABLE IF EXISTS COURSES;

 * sqlite:///CourseData.db
Done.

[]

In [28]:
%%sql
CREATE TABLE COURSES (
                 CID INTEGER PRIMARY KEY,
                 crn INTEGER,
                 term TEXT,
                 section TEXT,
                 credits TEXT,
                 title TEXT,
                 meetings TEXT,
                 timecodes TEXT,
                 primary_instructor TEXT,
                 cap TEXT,
                 act TEXT,
                 rem TEXT,
                 CCID INTEGER,
                 FOREIGN KEY(CCID) REFERENCES COURSECATALOGS(CCID)
);

 * sqlite:///CourseData.db
Done.

[]

In [23]:
%%sql
CREATE TABLE TEACHERS (
 TID INTEGER PRIMARY KEY,
 primary_instructor TEXT NOT NULL,
 CID INTEGER,
 FOREIGN KEY (CID) REFERENCES COURSES(CID)
);

 * sqlite:///CourseData.db
(sqlite3.OperationalError) table TEACHERS already exists [SQL: 'CREATE TABLE TEACHERS (\n TID INTEGER PRIMARY KEY,\n primary_instructor TEXT NOT NULL,\n CID INTEGER,\n FOREIGN KEY (CID) REFERENCES COURSES(CID)\n);'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [24]:
%%sql
CREATE TABLE COURSEMEETINGS (
    CMID INTEGER PRIMARY KEY,
    location TEXT NOT NULL,	
    day TEXT NOT NULL,
    start TEXT NOT NULL,
    end TEXT NOT NULL,
    CID INTEGER,
    TID INTEGER,
    FOREIGN KEY (CID) REFERENCES COURSES(CID),
    FOREIGN KEY (TID) REFERENCES TEACHERS(TID)
);

 * sqlite:///CourseData.db
Done.

[]

In [25]:
%%sql
INSERT INTO COURSECATALOGS (
    catalog_id,
    program_code,  
    program_name,
    course_title,
    prereqs,    
    coreqs,
    fees,
    attributes,    
    description) 
SELECT DISTINCT 
    catalog_id,
    program_code,  
    program_name,
    course_title,
    prereqs,    
    coreqs,
    fees,
    attributes,    
    description
    FROM import_Course_Catalog;

 * sqlite:///CourseData.db
2221 rows affected.

[]

In [31]:
%%sql
INSERT INTO COURSES (
                 crn,
                 term,
                 section,
                 credits,
                 title,
                 meetings,
                 timecodes,
                 primary_instructor,
                 cap,
                 act,
                 rem,
)
 SELECT DISTINCT
                 crn,
                 term,
                 section,
                 credits,
                 title,
                 meetings,
                 timecodes,
                 primary_instructor,
                 cap,
                 act,
                 rem
                FROM import_courses;

 * sqlite:///CourseData.db
15938 rows affected.

[]

In [32]:
%%sql INSERT INTO COURSEMEETINGS (
    location,	
    day,
    start,
    end
)
 SELECT DISTINCT
    location,	
    day,
    start,
    end
    FROM import_course_meetings;

 * sqlite:///CourseData.db
296908 rows affected.

[]

In [34]:
%%sql INSERT INTO TEACHERS (
    primary_instructor
)
 SELECT DISTINCT
    primary_instructor
    FROM import_courses;

 * sqlite:///CourseData.db
1105 rows affected.

[]

# Ran INSERT Queries
- let's check numbers to see if they're correct/make sense.
- important to note: we do not need to include PK/FKs in INSERT/DISTINCT statements as it's implied they're distinct.