In [1]:
%load_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [2]:
%%sql
DROP TABLE IF EXISTS CourseData;

 * sqlite:///CourseData.db
Done.

[]

In [3]:
%%sql
sqlite:///CourseData.db
DROP TABLE IF EXISTS Courses;
DROP TABLE IF EXISTS CourseMeetings;
DROP TABLE IF EXISTS CourseCatalogs;
DROP TABLE IF EXISTS Teachers;

Done.
Done.
Done.
Done.

[]

In [5]:
%%sql
SELECT Count(*) FROM import_Course_Catalog;

 * sqlite:///CourseData.db
Done.

[(4441,)]

In [6]:
%%sql
CREATE TABLE COURSECATALOGS (
    catalog_id TEXT PRIMARY KEY NOT NULL,
    program_code TEXT,    
    program_name TEXT,
    course_title TEXT,
    prereqs TEXT,    
    coreqs TEXT,
    fees TEXT,
    attributes TEXT,    
    description TEXT
);

 * sqlite:///CourseData.db
Done.

[]

In [7]:
%%sql
CREATE TABLE COURSES (
                 CID INTEGER PRIMARY KEY NOT NULL,
                 crn INTEGER,
                 term TEXT,
                 section TEXT,
                 credits TEXT,
                 title TEXT,
                 meetings TEXT,
                 timecodes TEXT,
                 primary_instructor TEXT,
                 cap TEXT,
                 act TEXT,
                 rem TEXT,
                 catalog_id TEXT,
                 FOREIGN KEY(catalog_id) REFERENCES COURSECATALOGS(catalog_id)
);

 * sqlite:///CourseData.db
Done.

[]

In [8]:
%%sql
CREATE TABLE TEACHERS (
 TID INTEGER PRIMARY KEY,
 primary_instructor TEXT NOT NULL,
 CID INTEGER,
 FOREIGN KEY (CID) REFERENCES COURSES(CID)
);

 * sqlite:///CourseData.db
Done.

[]

In [9]:
%%sql
CREATE TABLE COURSEMEETINGS (
    CMID INTEGER PRIMARY KEY NOT NULL,
    location TEXT NOT NULL,	
    day TEXT NOT NULL,
    start TEXT NOT NULL,
    end TEXT NOT NULL,
    CID INTEGER,
    TID INTEGER,
    FOREIGN KEY (CID) REFERENCES COURSES(CID),
    FOREIGN KEY (TID) REFERENCES TEACHERS(TID)
);

 * sqlite:///CourseData.db
Done.

[]