# 1. Load SQLite and Database
- 'CourseData.db'
- note the 3 backslashes

In [1]:
%reload_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [2]:
%%sql
DROP TABLE IF EXISTS CourseData;

 * sqlite:///CourseData.db
Done.

[]

# safety precautions
- drop tables to start from scratch

In [3]:
%%sql
sqlite:///CourseData.db
DROP TABLE IF EXISTS COURSECATALOGS;
DROP TABLE IF EXISTS COURSES;
DROP TABLE IF EXISTS TEACHERS;
DROP TABLE IF EXISTS COURSEMEETINGS;

Done.
Done.
Done.
Done.

[]

# 2. Do COUNT statements for 3 .csv Files
- ensure .csv name spelling is exact

In [4]:
%%sql
SELECT Count(*) FROM import_course_meetings;

 * sqlite:///CourseData.db
Done.

[(317339,)]

In [5]:
%%sql
SELECT Count(*) FROM import_courses;

 * sqlite:///CourseData.db
Done.

[(15955,)]

In [6]:
%%sql
SELECT catalog_id FROM import_Course_Catalog limit 1;

 * sqlite:///CourseData.db
Done.

[('AN 0301',)]

In [7]:
%%sql
SELECT Count(*) FROM import_Course_Catalog;

 * sqlite:///CourseData.db
Done.

[(4441,)]

# 3. Create Tables
- primary key is generated on every table by naming new surrogate key/field that isn't already in .csv files.
- don't need NOT NULL for PK because it's implied in SQLite.

In [8]:
%%sql
CREATE TABLE COURSECATALOGS (
    CCID INTEGER PRIMARY KEY,
    catalog_id TEXT,
    program_code TEXT,    
    program_name TEXT,
    course_title TEXT,
    prereqs TEXT,    
    coreqs TEXT,
    fees TEXT,
    attributes TEXT,    
    description TEXT
);

 * sqlite:///CourseData.db
Done.

[]

In [9]:
%%sql
CREATE TABLE TEACHERS (
 TID INTEGER PRIMARY KEY,
 primary_instructor TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [10]:
%%sql
CREATE TABLE COURSES (
                 CID INTEGER PRIMARY KEY,
                 catalog_id TEXT,
                 crn INTEGER,
                 term TEXT,
                 section TEXT,
                 credits TEXT,
                 title TEXT,
                 meetings TEXT,
                 timecodes TEXT,
                 primary_instructor TEXT,
                 cap TEXT,
                 act TEXT,
                 rem TEXT,
                 CCID INTEGER,
                 TID INTEGER,
                 CMID INTEGER,
                 FOREIGN KEY(CCID) REFERENCES COURSECATALOGS(CCID)
                 FOREIGN KEY (TID) REFERENCES COURSES(TID)
                 FOREIGN KEY (CMID) REFERENCES COURSEMEETINGS(CMID)
);

 * sqlite:///CourseData.db
Done.

[]

In [26]:
%%sql
CREATE TABLE COURSEMEETINGS (
    CMID INTEGER PRIMARY KEY,
    term TEXT,
    crn TEXT,
    location TEXT NOT NULL,	
    day TEXT NOT NULL,
    start TEXT NOT NULL,
    end TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

# 4. Do INSERT Statements
- do not include generated PKs
- *reasoning* - PKs aren't included in the imported tables, so we can't insert them from there.
- implied (since all PK/FKs are generated) that  PK/FKs are distinct.

In [27]:
%%sql
INSERT INTO COURSECATALOGS (
    catalog_id,
    program_code,  
    program_name,
    course_title,
    prereqs,    
    coreqs,
    fees,
    attributes,    
    description) 
SELECT DISTINCT 
    catalog_id,
    program_code,  
    program_name,
    course_title,
    prereqs,    
    coreqs,
    fees,
    attributes,    
    description
    FROM import_Course_Catalog;

 * sqlite:///CourseData.db
2221 rows affected.

[]

In [28]:
%%sql
SELECT * FROM COURSECATALOGS
limit 20;

 * sqlite:///CourseData.db
Done.

[(1, 'AN 0301', 'AN', 'Asian Studies', 'Independent Study', '', '', '', '', 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.'),
 (2, 'AN 0310', 'AN', 'Asian Studies', 'Asian Studies Seminar', '', '', '', '', 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.'),
 (3, 'BU 0211', 'BU', 'Business', 'Legal Environment of Business', 'Junior standing.', '', '', '', 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.'),
 (4, 'BU 0220', 'BU', 'Business', 'Environmental Law and Policy', '', '', '', 'EVME Environmental Studies Major Elective, EVPE Environmental Studies Elective, EVSS Environmental Studies: Social Science, MGEL Management: General Elective', 'This course surveys issues arising out of federal laws designed to protect the environment and manage resources. It considers in detail the role of t ... (298 characters truncated) ... t groups in shaping environmental policy, giving special attention to the impact of environmental regulation on business and private property rights.'),
 (5, 'BU 0311', 'BU', 'Business', 'The Law of Contracts, Sales, and Property', 'BU 0211.', '', '', '', 'This course examines the components of common law contracts including the concepts of offer and acceptance, consideration, capacity and legality, ass ... (117 characters truncated) ...  the Uniform Commercial Code relating to leases, sales of goods, and warranties. The course also considers personal and real property, and bailments.'),
 (6, 'BU 0312', 'BU', 'Business', 'The Law of Business Organizations and Financial Transactions', 'BU 0211.', '', '', '', 'This course offers an analysis of legal principles related to the law of agency, sole proprietorships, partnerships, corporations, limited liability  ... (163 characters truncated) ... collections and deposits and secured transactions. Finally, the course examines the law of suretyship, debtor-creditor relationships, and bankruptcy.'),
 (7, 'BU 0320', 'BU', 'Business', 'Employment Law and Discrimination in the Workplace', '', '', '', 'MGEL Management: General Elective, UDIV U.S. Diversity', 'This course examines a variety of legal issues related to the workplace including the doctrine of employment at will, employee privacy, and the histo ... (279 characters truncated) ... gin, age, and disability occupies a major portion of the course. Other employment issues include affirmative action, worker safety, and compensation.'),
 (8, 'BU 0391', 'BU', 'Business', 'Seminar in Business Law and Ethics', 'AE 0291, BU 0211, two additional courses in law or applied ethics.', '', '', '', 'This interdisciplinary study of these two aspects of the business environment is cross-listed as'),
 (9, 'BL 0101', 'BL', 'Black Studies', 'Black Lives Matter', '', '', '', 'ASGW American Studies: Gateway, BSFC Black Studies Focus Course, BSSS Black Studies: Social and Behavioral Sciences, PJST Peace and Justice Studies, UDIV U.S. Diversity', 'In the context of Ferguson, Charleston, and other national crises, this course responds to the call of students from our campus community to raise qu ... (391 characters truncated) ... es. Various faculty will bring to bear their respective scholarly lenses so that students understand race and racism across intellectual disciplines.'),
 (10, 'BL 0398', 'BL', 'Black Studies', 'Independent Study', '', '', '', 'BSCP Black Studies Capstone Course', 'Upon request and by agreement with a professor in the program, a Black Studies minor may conduct a one-semester independent study on a defined research topic or field of study.'),
 (11, 'BEN 0201', 'BEN', 'Bioengineering', 'Biomechanics', 'MA 0145, PS 0115.', '', '', '', 'This course covers solid mechanics of bone with a focus on stress, strain, stiffness, and strength. Joint forces and muscle attachments will be analy ... (17 characters truncated) ... dy diagrams. Introductory musculoskeletal physiology will be covered and Biopac Student Lab software will be used for gait and muscle force analysis.'),
 (12, 'BEN 0300', 'BEN', 'Bioengineering', 'Biomedical Instrumentation', 'BI 0107 or BI 0170; EE 0213.', '', '', 'HSST Health Studies: Science and Technology', 'Instrumentation and techniques used in acquisition, processing, and presentation of biomedical signals: transducers, sensors, Fourier analysis, flow measurement, biosensors, amplifiers, bridge circuits, and measurement of physical parameters and electrophysiological signals.'),
 (13, 'BEN 0331', 'BEN', 'Bioengineering', 'Biomedical Signal Processing', 'CS 0131 or CS 0142 or SW 0407; MA 0146.', '', '', 'HSST Health Studies: Science and Technology', 'This course presents an overview of different methods used in biomedical signal processing. Signals with bioelectric origin are given special attenti ... (332 characters truncated) ...  clinically significant features. The course gives each participant the opportunity to study the performance of a method on real, biomedical signals.'),
 (14, 'BEN 0332', 'BEN', 'Bioengineering', 'Biomedical Imaging', 'BEN 0331 or CR 0331.', '', '', 'HSST Health Studies: Science and Technology', 'This course presents the fundamentals and applications of common medical imaging techniques, for example: x-ray imaging and computed tomography, nucl ... (119 characters truncated) ... ng, introductory material on general image formation concepts and characteristics are presented, including human visual perception and psychophysics.'),
 (15, 'BEN 0333', 'BEN', 'Bioengineering', 'Biomedical Visualization', 'CS 0131.', '', '', '', 'This course is an introduction to 3-D biomedical visualization. Various technologies are introduced, including UltraSound, MRI, CAT scans, PET scans, ... (9 characters truncated) ... dents will learn about spatial data structures, computational geometry and solid modeling with applications in 3-D molecular and anatomical modeling.'),
 (16, 'BEN 0390', 'BEN', 'Bioengineering', 'Bioengineering Design Project I', 'Completion of all non-elective program courses; completion of other program requirements to enable graduation within the year of completion of BEN 0391.', '', '', '', "In this capstone course, students work in teams on advanced projects that emphasize engineering design with due attention to design constraints and e ... (714 characters truncated) ... oncludes at the end of the spring term with a final team oral presentation and a final written report, and a working prototype of the team's project."),
 (17, 'BEN 0391', 'BEN', 'Bioengineering', 'Bioengineering Design Project II', 'EG 0390.', '', '', '', "In this capstone course, students work in teams on advanced projects that emphasize engineering design with due attention to design constraints and e ... (714 characters truncated) ... oncludes at the end of the spring term with a final team oral presentation and a final written report, and a working prototype of the team's project."),
 (18, 'AR 0110', 'AR', 'Arabic', 'Elementary Modern Standard Arabic I', '', '', '', '', 'The first course, the first of a two-semester sequence, teaches the essentials of phonology, script, structure, and usage, allowing students to acqui ... (135 characters truncated) ... iency-based, implying that all activities within the courses are aimed at placing student learners in the context of the native-speaking environment.'),
 (19, 'AR 0111', 'AR', 'Arabic', 'Elementary Modern Standard Arabic II', 'AR 0110.', '', '', '', 'A continuation of'),
 (20, 'AR 0210', 'AR', 'Arabic', 'Intermediate Modern Standard Arabic I', 'AR 0111.', '', '', '', 'This course, the first in a two-semester sequence, continues to build upon the skills acquired in the first-year course. Emphasis will be placed upon ... (192 characters truncated) ... e complex texts on everyday themes, and will acquire the skills to read uncomplicated authentic texts, such as newspaper articles on familiar topics.')]

In [29]:
%%sql
INSERT INTO TEACHERS (
    primary_instructor
)
SELECT DISTINCT
    primary_instructor
    FROM import_courses
    ;

 * sqlite:///CourseData.db
1105 rows affected.

[]

In [15]:
%%sql
SELECT * FROM TEACHERS
limit 5;

 * sqlite:///CourseData.db
Done.

[(1, 'Michael P.  Coyne'),
 (2, 'Rebecca I.  Bloch'),
 (3, 'Paul   Caster'),
 (4, 'Jo Ann   Drusbosky'),
 (5, 'Arleen N.  Kardos')]

In [30]:
%%sql 
INSERT INTO COURSEMEETINGS (
    term,
    crn,
    location,	
    day,
    start,
    end)
 SELECT DISTINCT
    crn,
    term,
    location,	
    day,
    start,
    end
    FROM import_course_meetings
    ;

 * sqlite:///CourseData.db
311142 rows affected.

[]

In [42]:
%%sql
INSERT INTO COURSES (
                 TID, 
                 CCID,
                 CMID,
                 primary_instructor,
                 catalog_id,
                 crn,
                 term,
                 section,
                 credits,
                 title,
                 meetings,
                 timecodes,
                 cap,
                 act,
                 rem
)
 SELECT DISTINCT
                TEACHERS.TID,
                COURSECATALOGS.CCID,
                COURSEMEETINGS.CMID,
                import_courses.primary_instructor,
                import_courses.catalog_id,
                import_courses.crn,
                import_courses.term,
                section,
                credits,
                 title,
                meetings,
                 timecodes,
                cap,
                act,
                 rem
                FROM import_courses
                JOIN TEACHERS ON TEACHERS.primary_instructor = import_courses.primary_instructor
                JOIN COURSECATALOGS ON COURSECATALOGS.catalog_id  = import_courses.catalog_id
                JOIN COURSEMEETINGS ON COURSEMEETINGS.crn = import_courses.crn
                ;

 * sqlite:///CourseData.db
0 rows affected.

[]

In [40]:
%%sql
SELECT * FROM COURSES
limit 5;

 * sqlite:///CourseData.db
Done.

[]

In [19]:
%%sql
SELECT TID FROM TEACHERS
limit 5;

 * sqlite:///CourseData.db
Done.

[(1,), (2,), (3,), (4,), (5,)]

# 5. Run SELECT Queries

In [20]:
%reload_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

## SELECT Query for all unique classrooms 
- only included those with a character lenght of 7 (some had 2, 8, etc.)
- can't figure out how to get a distinct location when including additinonal fields.

In [21]:
%%sql
SELECT DISTINCT 
location
FROM COURSEMEETINGS
WHERE LENGTH(location) = 7
ORDER BY location
LIMIT 20
;

 * sqlite:///CourseData.db
(sqlite3.OperationalError) no such table: COURSEMEETINGS [SQL: 'SELECT DISTINCT \nlocation\nFROM COURSEMEETINGS\nWHERE LENGTH(location) = 7\nORDER BY location\nLIMIT 20\n;'] (Background on this error at: http://sqlalche.me/e/e3q8)

## SELECT Query displaying all courses in MSBA Program '18-'19
- still have to get rid of blank by making defining description as NOT NULL.
- is there an easier way?

In [22]:
%%sql
SELECT course_title AS Course, program_name AS Program, catalog_id AS Code, description AS Description
FROM COURSECATALOGS
WHERE program_name = 'Information Systems'
AND
Code LIKE "IS 05%"
ORDER BY program_name
LIMIT 50;

 * sqlite:///CourseData.db
Done.

[('Information Systems and Database Management', 'Information Systems', 'IS 0500', 'This course introduces the basic concepts and tools relevant to information systems and database management, and their enabling roles in business str ... (334 characters truncated) ... lementation and emerging strategies and technologies such as business intelligence, big data management, web security, and online business analytics.'),
 ('International Information Systems', 'Information Systems', 'IS 0501', 'This course examines information technology environments around the world, and attendant challenges to business strategy and information systems desi ... (161 characters truncated) ... ments, and political-legal systems. The course emphasizes national and regional strategies, emergent technologies, hybrid systems, and equity issues.'),
 ('Python for Business Analytics', 'Information Systems', 'IS 0505', 'In this course, we introduce Python as a language and tool for collecting, preprocessing, and visualizing data for business analytics. since Python i ... (484 characters truncated) ... projects will be used as vehicles to cover the main applications of data analytics, including recommender systems, text analytics, and web analytics.'),
 ('Databases for Business Analytics', 'Information Systems', 'IS 0510', 'This course introduces databases and data management in three parts. The first part covers basic database fundamentals. The second part is a hands-on ... (336 characters truncated) ... edge and skills learned from this class. Advanced topics such as distributed database systems, data services, and NoSQL databases are also discussed.'),
 ('Project Management', 'Information Systems', 'IS 0520', 'This course explores the process and practice of project management. Topics to be covered include project lifecycle and organizations, teambuilding a ... (271 characters truncated) ... s will also be used to provide an active learning environment. This course is designed to count toward professional project management certification.'),
 ('Data Mining and Business Intelligence', 'Information Systems', 'IS 0540', 'This course will change the way you think about data and its role in business. Businesses, governments, and individuals create massive collections of ... (653 characters truncated) ... er application of these techniques is as much an art as it is a science. In addition, we will work "hands-on" with contemporary data mining software.'),
 ('Business Analytics and Big Data Management', 'Information Systems', 'IS 0550', 'This course will survey state-of-the-art topics in Big Data, looking at data collection (via smartphones, sensors, the Web), data storage and process ... (250 characters truncated) ... n, and a range of applications. Each of these five modules will introduce broad concepts as well as provide the most recent developments in the area.'),
 ('Contemporary Topics in Information Systems and Operations Management', 'Information Systems', 'IS 0585', 'This course draws from current literature and practice on information systems and/or operations management. The topics change from semester to semest ... (108 characters truncated) ... ience with spreadsheets, e-procurement, executive information systems, ethics, and other socio-economic factors in the use of information technology.'),
 ('Contemporary Topics: Advanced Data Mining Applications', 'Information Systems', 'IS 0585B', ''),
 ('Independent Study in Information Systems and Operations Management', 'Information Systems', 'IS 0598', 'This course provides an opportunity for students to complete a project or perform research under the direction of an Information Systems and Operatio ... (114 characters truncated) ... mplete a significant project or research paper as the primary requirement of this course. Enrollment by permission of the ISOM Department Chair only.')]

# JOIN Testing

In [23]:
%%sql
SELECT *
FROM COURSES
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[]

In [24]:
%%sql
SELECT t.primary_instructor, c.catalog_id
FROM COURSES as c
JOIN TEACHERS as t ON c.TID = t.TI;

 * sqlite:///CourseData.db
(sqlite3.OperationalError) no such column: t.TI [SQL: 'SELECT t.primary_instructor, c.catalog_id\nFROM COURSES as c\nJOIN TEACHERS as t ON c.TID = t.TI;'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [25]:
%%sql
SELECT TID, primary_instructor FROM TEACHERS
limit 10;

 * sqlite:///CourseData.db
Done.

[(1, 'Michael P.  Coyne'),
 (2, 'Rebecca I.  Bloch'),
 (3, 'Paul   Caster'),
 (4, 'Jo Ann   Drusbosky'),
 (5, 'Arleen N.  Kardos'),
 (6, 'Scott M  Brenner'),
 (7, 'Kevin C.  Cassidy'),
 (8, 'Bruce   Bradford'),
 (9, 'Milo W.  Peck'),
 (10, 'Stephen E.  Yost')]

Have to finish insterting COURSES column

In [43]:
%%sql
VACUUM;

 * sqlite:///CourseData.db
Done.

[]