# 1. Load SQLite and Database
- 'CourseData.db'
- note the 3 backslashes

In [1]:
%reload_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [2]:
%%sql
DROP TABLE IF EXISTS CourseData;

 * sqlite:///CourseData.db
Done.

[]

## DROP Tables

In [3]:
%%sql
sqlite:///CourseData.db
DROP TABLE IF EXISTS COURSECATALOGS;
DROP TABLE IF EXISTS COURSES;
DROP TABLE IF EXISTS TEACHERS;
DROP TABLE IF EXISTS COURSEMEETINGS;

Done.
Done.
Done.
Done.

[]

# 2. Find COUNT of each .csv file

In [4]:
%%sql
SELECT Count(*) FROM import_course_meetings;

 * sqlite:///CourseData.db
Done.

[(317339,)]

In [5]:
%%sql
SELECT Count(*) FROM import_courses;

 * sqlite:///CourseData.db
Done.

[(15955,)]

In [6]:
%%sql
SELECT catalog_id FROM import_Course_Catalog limit 1;

 * sqlite:///CourseData.db
Done.

[('AN 0301',)]

In [7]:
%%sql
SELECT Count(*) FROM import_Course_Catalog;

 * sqlite:///CourseData.db
Done.

[(4441,)]

# 3. Create Tables
- primary key is generated on every table by naming new surrogate key/field that isn't already in .csv files.
- don't need NOT NULL for PK because it's implied in SQLite.

In [8]:
%%sql
CREATE TABLE COURSECATALOGS (
    CCID INTEGER PRIMARY KEY,
    catalog_id TEXT,
    program_code TEXT,    
    program_name TEXT,
    course_title TEXT,
    prereqs TEXT,    
    coreqs TEXT,
    fees TEXT,
    attributes TEXT,    
    description TEXT
);

 * sqlite:///CourseData.db
Done.

[]

In [9]:
%%sql
CREATE TABLE TEACHERS (
 TID INTEGER PRIMARY KEY,
 primary_instructor TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [10]:
%%sql
CREATE TABLE COURSES (
                 crn SMALLINT,
                 term VARCAR(20),
                 catalog_id TEXT,
                 section TEXT,
                 credits TEXT,
                 title TEXT,
                 meetings TEXT,
                 timecodes TEXT,
                 cap TEXT,
                 act TEXT,
                 rem TEXT,
                 TID INTEGER,
                 PRIMARY KEY(crn,term)
);

 * sqlite:///CourseData.db
Done.

[]

In [11]:
%%sql
CREATE TABLE COURSEMEETINGS (
    
    CID INTEGER PRIMARY KEY,
    crn SMALLINT,
    term VARCHAR(20),
    location TEXT NOT NULL,
    day TEXT NOT NULL,
    start TIME NOT NULL,
    end TIME NOT NULL  
);

 * sqlite:///CourseData.db
Done.

[]

# 4. Do INSERT Statements

In [12]:
%%sql
INSERT INTO COURSECATALOGS (catalog_id, program_code, program_name, course_title, prereqs, coreqs, fees, attributes, description) 
SELECT DISTINCT catalog_id, program_code, program_name, course_title, prereqs, coreqs, fees, attributes, description
FROM import_Course_Catalog;

 * sqlite:///CourseData.db
2221 rows affected.

[]

In [13]:
%%sql
SELECT * FROM COURSECATALOGS
limit 2;

 * sqlite:///CourseData.db
Done.

[(1, 'AN 0301', 'AN', 'Asian Studies', 'Independent Study', '', '', '', '', 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.'),
 (2, 'AN 0310', 'AN', 'Asian Studies', 'Asian Studies Seminar', '', '', '', '', 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.')]

# INSERT TEACHERS

In [14]:
%%sql
DELETE FROM TEACHERS;

INSERT INTO TEACHERS  (primary_instructor)
SELECT DISTINCT primary_instructor
    FROM import_courses
    ;

 * sqlite:///CourseData.db
0 rows affected.
1105 rows affected.

[]

In [15]:
%%sql
SELECT * FROM TEACHERS
limit 2;

 * sqlite:///CourseData.db
Done.

[(1, 'Michael P.  Coyne'), (2, 'Rebecca I.  Bloch')]

# INSERT COURSEMEETINGS

In [16]:
%%sql 
INSERT INTO COURSEMEETINGS ( crn, term, location, day, start, end)
SELECT DISTINCT crn, term, location, day, start, end
FROM import_course_meetings

 * sqlite:///CourseData.db
311142 rows affected.

[]

In [17]:
%%sql
SELECT * FROM COURSEMEETINGS
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[(1, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-02T08:00:00', '2014-09-02T09:15:00'),
 (2, 70384, 'Fall2014', 'DSB 105', 'F', '2014-09-05T08:00:00', '2014-09-05T09:15:00'),
 (3, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-09T08:00:00', '2014-09-09T09:15:00'),
 (4, 70384, 'Fall2014', 'DSB 105', 'F', '2014-09-12T08:00:00', '2014-09-12T09:15:00'),
 (5, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-16T08:00:00', '2014-09-16T09:15:00'),
 (6, 70384, 'Fall2014', 'DSB 105', 'F', '2014-09-19T08:00:00', '2014-09-19T09:15:00'),
 (7, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-23T08:00:00', '2014-09-23T09:15:00'),
 (8, 70384, 'Fall2014', 'DSB 105', 'F', '2014-09-26T08:00:00', '2014-09-26T09:15:00'),
 (9, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-30T08:00:00', '2014-09-30T09:15:00'),
 (10, 70384, 'Fall2014', 'DSB 105', 'F', '2014-10-03T08:00:00', '2014-10-03T09:15:00')]

# INSERT COURSES
- _key:_ do NOT need primary_instructor in courses table since we're going to join in the teachers table that has this value.  We are simply telling it what to JOIN these tables on, but primary_instructor does not need to be in both tables.

- still need to add additional FKs

In [18]:
%%sql
INSERT INTO COURSES (crn, term,catalog_id, section, credits, title, meetings, timecodes, cap, act, rem, TID)
SELECT DISTINCT crn, term, catalog_id, section, credits, title, meetings, timecodes, cap, act, rem, TID
FROM import_courses
JOIN TEACHERS ON TEACHERS.primary_instructor = import_courses.primary_instructor;

 * sqlite:///CourseData.db
15938 rows affected.

[]

In [19]:
%%sql
SELECT * FROM COURSES
LIMIT 5;

 * sqlite:///CourseData.db
Done.

[(70384, 'Fall2014', 'AC 0011', 'C01', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0800am-0915am 09/02-12/08 DSB 105']", '0', '31', '-31', 1),
 (70385, 'Fall2014', 'AC 0011', 'C02', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0930am-1045am 09/02-12/08 DSB 105']", '0', '31', '-31', 1),
 (70382, 'Fall2014', 'AC 0011', 'C03', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 1230pm-0145pm 09/02-12/08 DSB 105']", '0', '31', '-31', 1),
 (70291, 'Fall2014', 'AC 0011', 'C04', '3.000', 'Introduction to Financial Accounting', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", "['MR 1100am-1215pm 09/02-12/08 DSB 111']", '0', '29', '-29', 2),
 (70350, 'Fall2014', 'AC 0011', 'C05', '3.000', 'Introduction to Financial Accounting', "[{'days': 'MR', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", "['MR 1230pm-0145pm 09/02-12/08 DSB 111']", '0', '30', '-30', 2)]

In [20]:
%%sql
SELECT catalog_id, primary_instructor 
FROM COURSES
JOIN TEACHERS USING (TID)
limit 10;

 * sqlite:///CourseData.db
Done.

[('AC 0011', 'Michael P.  Coyne'),
 ('AC 0011', 'Michael P.  Coyne'),
 ('AC 0011', 'Michael P.  Coyne'),
 ('AC 0011', 'Rebecca I.  Bloch'),
 ('AC 0011', 'Rebecca I.  Bloch'),
 ('AC 0011', 'Rebecca I.  Bloch'),
 ('AC 0011', 'Paul   Caster'),
 ('AC 0011', 'Jo Ann   Drusbosky'),
 ('AC 0011', 'Jo Ann   Drusbosky'),
 ('AC 0011', 'Jo Ann   Drusbosky')]

In [21]:
%%sql
SELECT * FROM COURSES
limit 5
;

 * sqlite:///CourseData.db
Done.

[(70384, 'Fall2014', 'AC 0011', 'C01', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0800am-0915am 09/02-12/08 DSB 105']", '0', '31', '-31', 1),
 (70385, 'Fall2014', 'AC 0011', 'C02', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0930am-1045am 09/02-12/08 DSB 105']", '0', '31', '-31', 1),
 (70382, 'Fall2014', 'AC 0011', 'C03', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 1230pm-0145pm 09/02-12/08 DSB 105']", '0', '31', '-31', 1),
 (70291, 'Fall2014', 'AC 0011', 'C04', '3.000', 'Introduction to Financial Accounting', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", "['MR 1100am-1215pm 09/02-12/08 DSB 111']", '0', '29', '-29', 2),
 (70350, 'Fall2014', 'AC 0011', 'C05', '3.000', 'Introduction to Financial Accounting', "[{'days': 'MR', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", "['MR 1230pm-0145pm 09/02-12/08 DSB 111']", '0', '30', '-30', 2)]

In [22]:
%%sql
SELECT TID FROM TEACHERS
limit 3;

 * sqlite:///CourseData.db
Done.

[(1,), (2,), (3,)]

# 5. Run SELECT Queries

In [23]:
%reload_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

## SELECT Query for all unique classrooms 
- only included those with a character lenght of 7 (some had 2, 8, etc.)
- can't figure out how to get a distinct location when including additinonal fields.

In [24]:
%%sql
SELECT DISTINCT 
location
FROM COURSEMEETINGS
WHERE LENGTH(location) = 7
ORDER BY location
LIMIT 20
;

 * sqlite:///CourseData.db
Done.

[('BCC 200',),
 ('BLM 112',),
 ('BNW 124',),
 ('BNW 127',),
 ('BNW 128',),
 ('BNW 130',),
 ('BNW 131',),
 ('BNW 133',),
 ('BNW 136',),
 ('BNW 137',),
 ('BNW 138',),
 ('BNW 139',),
 ('BNW 143',),
 ('BNW 144',),
 ('BNW 162',),
 ('BNW 163',),
 ('BNW 166',),
 ('BNW 236',),
 ('BNW 240',),
 ('BNW 245',)]

## SELECT Query displaying all courses in MSBA Program '18-'19
- still have to get rid of blank by making defining description as NOT NULL.
- is there an easier way?

In [39]:
%%sql
SELECT course_title AS Course, program_name AS Program, catalog_id AS Code, description AS Description
FROM COURSECATALOGS
WHERE catalog_id IN 'BA 05%'
LIMIT 10;

 * sqlite:///CourseData.db
(sqlite3.OperationalError) no such table: BA 05% [SQL: "SELECT course_title AS Course, program_name AS Program, catalog_id AS Code, description AS Description\nFROM COURSECATALOGS\nWHERE catalog_id IN 'BA 05%'\nLIMIT 10;"] (Background on this error at: http://sqlalche.me/e/e3q8)

In [28]:
%%sql
SELECT prereqs AS Required, attributes AS Attributes, course_title AS Course, program_name AS Program, catalog_id AS Code, description AS Description
FROM COURSECATALOGS
WHERE Prereqs > 0
ORDER BY prereqs
DESC
LIMIT 50;

 * sqlite:///CourseData.db
Done.

[('prereqs', 'attributes', 'course_title', 'program_name', 'catalog_id', 'description'),
 ('junior or senior standing, three environmental studies program courses, and program approval.', 'EVCA Environmental Studies: Capstone, EVPE Environmental Studies Elective', 'Independent Study', 'Environmental Studies', 'EV 0299', 'A student may conduct a one-semester independent study on a defined research topic or field of study under the supervision of a professor in the Envi ... (63 characters truncated) ... e Professor which whom the student will work as well as the Director of the Environmental Studies Program. Students must have a GPA of 3.0 or higher.'),
 ('Two previous courses in Philosophy.', 'CAOT Catholic Studies: Non-Religious Studies', 'Metaphysics', 'Philosophy', 'PH 0320', 'This course concerns itself with being and our knowledge of being, developing in student minds an operative habit of viewing reality in its ultimate context.'),
 ('Two courses in music or theatre.', 'VPC2 Visual and Performing Arts Core: Applied Course', 'Performing Arts Administration Principles and Practices', 'Music', 'MU 0306', 'This course explores the fundamental principles associated with not-for-profit performing arts organizations. This course is for all arts students, a ... (239 characters truncated) ... ents will come away with knowledge and skills, as well as a strong self-awareness of their leadership and management capacities. Previously VPA 0306.'),
 ('Two courses in Philosophy.', '', 'Plato', 'Philosophy', 'PH 0300', "This course covers central ontological and epistemological themes in selected early, middle, and late Platonic dialogues, paying particular attention to Plato's inclination to identify virtue with knowledge."),
 ('Two courses in Philosophy.', '', 'Aristotle', 'Philosophy', 'PH 0301', 'This course introduces Aristotle through a selection of his works, exploring their relation to other works, their place in the scheme of the sciences, and thoroughly investigating their subject matter.'),
 ('Two courses in Philosophy.', 'ISIF Italian Studies: Italy-Focused', 'Aquinas', 'Philosophy', 'PH 0304', "This course focuses on Aquinas's most mature work, Summa Theologiae. This work exemplifies the Christian intellectual reaction to Islamic Aristotelia ... (175 characters truncated) ... God, the nature and powers of the human composite, human destiny, the human act, good and evil, providence and freedom, natural law, and the virtues."),
 ('Two courses in Philosophy.', 'FREN French Course Taught in English', 'Descartes', 'Philosophy', 'PH 0307', "Three years after he finished college, Descartes got stuck in a snowstorm on his way to fight in a war. Alone in his room, he reflected on his educat ... (343 characters truncated) ...  them with only those beliefs for which he could find good reasons. This course discusses the development and results of Descartes' search for truth."),
 ('Two courses in Philosophy.', '', 'Leibniz', 'Philosophy', 'PH 0309', "Can everything in the world be rationally explained? Even the existence of the world itself? G.W. Leibniz (1646-1716) thought so.Together with his un ... (260 characters truncated) ... ourse we examine these conclusions as well as Leibniz's theories about such puzzling topics as the nature of the mind, body, God, freedom, and space."),
 ('Two courses in Philosophy.', '', 'Hume', 'Philosophy', 'PH 0310', 'This course offers an in-depth understanding of the philosophy of David Hume. Hume, one of the most interesting (and influential) of the 18th-century ... (141 characters truncated) ... ples that seemed quite plausible but, taking these ideas to their logical conclusions, arrived at a philosophy that is, to say the least, surprising.'),
 ('Two courses in Philosophy.', '', 'Kant', 'Philosophy', 'PH 0311', "Almost everyone recognizes that through experience the human mind is shaped by the world. Immanuel Kant, however, argued for the revolutionary claim  ... (241 characters truncated) ...  causation, God, freedom, and immortality - conclusions that changed philosophy forever. In this class we will study Kant's revolution in philosophy."),
 ('Two courses in Philosophy.', '', 'Hegel', 'Philosophy', 'PH 0312', "The philosophy of G.W.F. Hegel, the most famous of the German idealists, directly spawned the philosophy of Karl Marx. Hegel is considered the father ... (414 characters truncated) ... ousness. The course works through this text in detail, and pays particularly close attention to how Hegel interprets the philosophy of Immanuel Kant."),
 ('Two courses in Philosophy.', '', 'Nietzsche', 'Philosophy', 'PH 0314', "This course deals with the thought of one of the leading philosophical figures of the 19th century, Friedrich Nietzsche.In terms of both style and co ... (237 characters truncated) ... the will to power, the perspectival approach to truth, the concept of genealogy, the revaluation of values, eternal recurrence, and the death of God."),
 ('Two courses in Philosophy.', 'FREN French Course Taught in English', 'Bergson', 'Philosophy', 'PH 0316', "This course explores the work of Henri Bergson (1859-1941).The course primarily takes the form of a close reading of Time and Free Will (1889), Matte ... (48 characters truncated) ... lity and Religion (1932). The course will also explore the influence of Bergson's work on contemporary philosophy, psychology, science, and religion."),
 ('Two courses in Philosophy.', '', 'Heidegger', 'Philosophy', 'PH 0317', "This course explores the work of Martin Heidegger (1889-1976), one of the most influential philosophers of the 20th century. It primarily takes the f ... (25 characters truncated) ...  Being and Time (1927) and The Origin of the Work of Art (1936). The course hinges on Derrida's reading of Heidegger's existential analysis of death."),
 ('Two courses in Philosophy.', '', 'Knowledge', 'Philosophy', 'PH 0321', 'The focus of this course is to examine the fundamental questions concerning human knowledge. For example: What is knowledge? Can I know anything? Do  ... (209 characters truncated) ... I know it? Do men and women know things in different ways? Is knowledge something I can gain on my own or is knowledge essentially a social activity?'),
 ('Two courses in Philosophy.', '', 'Philosophy of Mind', 'Philosophy', 'PH 0323', 'This course acquaints students with the most recent philosophical theories on the workings of the mind. Although it emphasizes philosophical theories ... (89 characters truncated) ... search in sciences such as psychology and neuroscience. This is an exciting topic; join us on this quest to address the Delphic dictum: Know Thyself!'),
 ('Two courses in Philosophy.', '', 'Philosophy of Language', 'Philosophy', 'PH 0331', 'This course introduces the student to the philosophy of language: its themes, complexities and problems. Employing a historical approach, the course  ... (345 characters truncated) ... figures who represent the mainstream discussion of the philosophy of language, including representatives of both analytic and continental traditions.'),
 ('Two courses in Philosophy.', '', 'Advanced Topics in Ethics', 'Philosophy', 'PH 0350', 'This course examines questions pertaining to the status and content of morality, such as the following. Are there universal moral truths, and what ma ... (117 characters truncated) ... or wrong? What reasons do we have to be moral? This course examines competing answers to such questions and considers philosophical defenses of them.'),
 ('Two courses in Philosophy.', 'BSAH Black Studies: Arts and Humanities, BSFC Black Studies Focus Course, PJST Peace and Justice Studies, UDIV U.S. Diversity', 'Critical Race Theory', 'Philosophy', 'PH 0360', 'Although race can be considered as one of several physical features of an individual, this course will investigate the recent research and literature ... (346 characters truncated) ... ticity, and racial privilege will be explored using key texts (by Jean-Paul Sartre, Franz Fanon, Lewis Gordon, and Robert Bernasconi, to name a few).'),
 ('Two courses in Philosophy.', '', 'Philosophy of Literature', 'Philosophy', 'PH 0370', 'This course examines the philosophy "of" literature (the general nature of poetry and prose) and philosophy "in" literature (specific works that harbor philosophical ideas).'),
 ('Two courses in Philosophy.', '', 'Capstone Experience', 'Philosophy', 'PH 0399', "This course is the culminating experience in a student's study of philosophy at Fairfield University. Students will be asked to reflect on their phil ... (204 characters truncated) ... r philosophical projects, and to prepare for a philosophical life after graduation regardless of their career choices. Enrollment by permission only."),
 ('Two courses in Philosophy or Religious Studies.', 'EVPE Environmental Studies Elective, LCEL LACS Minor: Elective, WDIV World Diversity', 'Reflections of the Environment: Focus on Latin America and the Caribbean', 'Applied Ethics', 'AE 0384', 'This seminar examines environmental, ethical, and socio-economic issues of Latin America and the Caribbean. It integrates the hard sciences (biology, ... (486 characters truncated) ... linary group. This seminar counts for the capstone requirement for the minor in Applied Ethics and the minor in Latin American and Caribbean Studies.'),
 ('Two courses in Philosophy or Religious Studies.', '', 'Seminar in Business Law, Regulation, and Ethics', 'Applied Ethics', 'AE 0391', 'This seminar investigates ethical dilemmas of business management, primarily as encountered in real cases. Themes vary from year to year. Format: guest presentations by members of the business community, followed by discussion.'),
 ('Two courses in Philosophy or Religious Studies.', '', 'Seminar in War, Peace, and Public Policy', 'Applied Ethics', 'AE 0393', 'This seminar examines the philosophical, political, and religious aspects of war and peace. Topics include the origin and development of just war the ... (55 characters truncated) ... are, and military preparedness. The course focuses on the increased complexity of these issues in the 20th century and especially in the nuclear age.'),
 ('Two courses in Philosophy or Religious Studies.', '', 'Seminar in Legal Ethics', 'Applied Ethics', 'AE 0395', 'This seminar examines the peculiar ethical dilemmas confronting lawyers: confidentiality, protection of the guilty, roles in public policy, conflict of interest, and, in general, responsibility for the functioning of the adversary system.'),
 ('Two courses in Philosophy or Religious Studies.', 'HSTE Health Studies: Traditions, Delivery, and Ethics, UDIV U.S. Diversity', 'Seminar in Bioethics I: Ethical Issues in Health Care Practice', 'Applied Ethics', 'AE 0397', 'This seminar presents an intensive study of select problems in the ethics of medicine and healthcare practice, including abortion; euthanasia; prenatal diagnosis; reproductive engineering and surrogate motherhood; and treatment decisions for very ill newborns.'),
 ('Two courses in Philosophy or Religious Studies.', 'HSTE Health Studies: Traditions, Delivery, and Ethics', 'Seminar in Bioethics II: Ethical Issues in Biomedical Research and Resource Allocation', 'Applied Ethics', 'AE 0398', 'This seminar offers an intensive study of select problems in the ethics, law, and public policy surrounding healthcare, especially in the United States. Topics include research with human subjects, the professional/patient relationship, allocation of scarce resources, and cost containment.'),
 ('Three politics courses.', '', 'Internship', 'Politics', 'PO 0298', 'Politics majors gain firsthand experience working off campus in fields related to their major. Typically, an internship requires 10 to 12 hours per w ... (72 characters truncated) ... ite supervisor and a politics professor evaluate student work. Students must have a GPA or 3.0 or higher. Enrollment by departmental permission only.'),
 ('Three courses in Studio Art.', 'GDSA Graphic Design: Studio Arts, VPC2 Visual and Performing Arts Core: Applied Course', 'Advanced Projects Seminar', 'Studio Art', 'SA 0299', 'Required for students majoring and an option for students minoring in Studio Art, this course helps students develop a unique body of work representa ... (140 characters truncated) ... nts read and discuss contemporary and art historical issues. Visiting artists and critics are a feature of the class. Open to majors and minors only.'),
 ('Teaching certification.', '', 'Critical Literacies Beyond the Classroom Walls', 'Education', 'ED 0529', 'Designed for K-12 teachers and community leaders, this course explores socio-cultural and developmental models of how varied literacies are construct ... (191 characters truncated) ...  candidates in this course will recognize, value and employ culturally sensitive understandings of literacies and their powerful role in our society.'),
 ('TX 0510.', '', 'Corporate Tax II', 'Taxation', 'TX 0512', 'This course introduces students to advanced concepts of the federal income taxation of corporations, partnerships, trusts and estates. An examination ... (330 characters truncated) ... nly to students enrolled in MS Accounting, MBA Taxation, or SYC Taxation programs, or by permission from the Department Chair or his or her designee.'),
 ('TA 0155.', 'GDTA Graphic Design: Theatre', 'Costume Design', 'Theatre', 'TA 0253', "Before a character even speaks, we have a strong sense of who that person is, based on our impression of the costume design. This class focuses on ho ... (191 characters truncated) ... opment and rendering styles are addressed. Emphasis is placed on a sound creative process, as well as grounding our designs with historical accuracy."),
 ('TA 0155.', 'GDTA Graphic Design: Theatre', 'Scene Design', 'Theatre', 'TA 0288', "In a play, scenery provides the context, allowing the audience to connect to the characters and their dramatic journey. Not merely locale, scenery is ... (215 characters truncated) ... lay reading, analysis and historical research. Emphasis is placed on a sound creative process, as well as grounding designs with historical accuracy."),
 ('TA 0150 or TA 0155.', '', 'Stage Lighting', 'Theatre', 'TA 0256', 'With light on stage, we create a vast array of environmental moods. In order to accomplish these effects, students must grasp two separate fields of  ... (286 characters truncated) ...  the theatre space. Both the technical and aesthetic aspects are covered in this class. Safe use of electricity and lighting equipment is emphasized.'),
 ('TA 0030.', 'VPC2 Visual and Performing Arts Core: Applied Course', 'Acting II', 'Theatre', 'TA 0230', 'This is an intensive acting course that builds upon the basic acting principles taught in Acting I. In this course, students apply what they have lea ... (210 characters truncated) ... nd thoughtful understanding of acting as a practical and intellectual art that prepares them for further work in theatre and related performing arts.'),
 ('TA 0030.', 'VPC2 Visual and Performing Arts Core: Applied Course', 'Acting for the Camera', 'Theatre', 'TA 0231', 'This course is an introduction to the specialized techniques used in successful on-camera acting. On-camera exercises emphasize the importance of lis ... (286 characters truncated) ... ds towards longer scene work from a screenplay. Topics include script analysis, nuance and depth of performance, relaxation and confidence on-camera.'),
 ('TA 0030.', 'VPC2 Visual and Performing Arts Core: Applied Course', 'Directing', 'Theatre', 'TA 0240', "This course for advanced students covers the theory, practice, and history of directing for the theatre. In a workshop format, students explore vario ... (208 characters truncated) ... verall production. Students direct several in-class scenes and a one-act play that is produced in Director's Cut, part of Theatre Fairfield's season."),
 ('TA 0030.', 'VPC2 Visual and Performing Arts Core: Applied Course', 'Acting for the Camera', 'Film, Television, and Media Arts', 'FTM 0237', 'This course is an experiential introduction to the spe\xadcialized techniques used in successful on-camera acting. On-camera exercises will emphasize ... (451 characters truncated) ... ds longer scene work from a screenplay. Topics include script analysis, nuance and depth of perfor\xadmance, and relaxation and confidence on-camera.'),
 ('Sophomore standing.', '', 'Introduction to Management', 'Management', 'MG 0101', 'This course integrates, through theory and its application, the various topics, concepts, and modalities that make up the Management discipline. Its  ... (376 characters truncated) ... the ethical implications of business decisions and models; organizational behavior; human resource management; leadership and organizational culture.'),
 ('Sophomore standing.', '', 'Principles of Marketing', 'Marketing', 'MK 0101', "This course introduces the fundamental concepts and theories that drive day-to-day marketing decisions. A thorough understanding of the marketplace ( ... (429 characters truncated) ... nd marketing ethics, and digital marketing. Students are required to work in a team to construct a marketplace analysis for a chosen product/service."),
 ('Sophomore standing or higher.', '', 'Introduction to Health Studies', 'Health Studies', 'HS 0101', 'This course takes an interdisciplinary approach to the evolution of healthcare in America. The course will apply a social science lens to the assessm ... (438 characters truncated) ... sured Americans, expanding technology, provider specialization, and fewer healthcare gatekeepers on the U.S. healthcare system will also be assessed.'),
 ('Senior standing.', 'ISIF Italian Studies: Italy-Focused', 'Capstone Seminar', 'Italian', 'IT 0399', 'Majors in Italian participate in an interdisciplinary seminar in the spring of their senior year. The focus of this seminar varies according to the p ... (287 characters truncated) ... es, evaluate work in the target language in consultation with colleagues in the area of expertise in the department. Seminar is conducted in English.'),
 ('Senior standing.', '', 'Independent Study', 'Accounting', 'AC 0397', 'This course provides students with the opportunity to study and research a specialized topic under faculty guidance. Students must have a GPA or 2.5 or higher. Open to Accounting majors only. Enrollment by permission only.'),
 ('Senior standing.', '', 'Independent Study', 'Accounting', 'AC 0398', 'This course provides students with the opportunity to study and research a specialized topic under faculty guidance. Students must have a GPA or 2.5 or higher. Open to Accounting majors only. Enrollment by permission only.'),
 ('Senior standing.', '', 'Critical Issues in Management', 'Management', 'MG 0340', 'This course applies the knowledge students have acquired from previous management courses by examining integrative topics and issues in both domestic ... (101 characters truncated) ... n to emerging critical issues in the field of business management. Case studies and experiential learning are used to enhance the classroom pedagogy.'),
 ('Senior standing.', 'WDIV World Diversity', 'Managing People for Global Business', 'Management', 'MG 0385', 'This course recognizes the complexities of managing human resources in the global business arena. Modern-day business is characterized by the relentl ... (727 characters truncated) ...  these complexities along with in-depth study of the people-related issues in different countries in Asia, Africa, Latin America, and Eastern Europe.'),

# JOIN Testing

In [26]:
%%sql
SELECT *
FROM COURSES
LIMIT 7;

 * sqlite:///CourseData.db
Done.

[(70384, 'Fall2014', 'AC 0011', 'C01', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0800am-0915am 09/02-12/08 DSB 105']", '0', '31', '-31', 1),
 (70385, 'Fall2014', 'AC 0011', 'C02', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0930am-1045am 09/02-12/08 DSB 105']", '0', '31', '-31', 1),
 (70382, 'Fall2014', 'AC 0011', 'C03', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 1230pm-0145pm 09/02-12/08 DSB 105']", '0', '31', '-31', 1),
 (70291, 'Fall2014', 'AC 0011', 'C04', '3.000', 'Introduction to Financial Accounting', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", "['MR 1100am-1215pm 09/02-12/08 DSB 111']", '0', '29', '-29', 2),
 (70350, 'Fall2014', 'AC 0011', 'C05', '3.000', 'Introduction to Financial Accounting', "[{'days': 'MR', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", "['MR 1230pm-0145pm 09/02-12/08 DSB 111']", '0', '30', '-30', 2),
 (70381, 'Fall2014', 'AC 0011', 'C06', '3.000', 'Introduction to Financial Accounting', "[{'days': 'MR', 'times': '0330pm-0445pm', 'dates': '09/02-12/08', 'location': 'DSB 110A'}]", "['MR 0330pm-0445pm 09/02-12/08 DSB 110A']", '0', '31', '-31', 2),
 (70383, 'Fall2014', 'AC 0011', 'G', '3.000', 'Introduction to Financial Accounting', "[{'days': 'MR', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 111'}]", "['MR 0930am-1045am 09/02-12/08 DSB 111']", '30', '31', '-1', 3)]

%%sql
SELECT t.TID, t.primary_instructor, c.catalog_id
FROM COURSES as c
JOIN TEACHERS as t ON c.TID = t.TID
LIMIT 100;

# Dr. Huntley
### What Courses has Dr. Huntley Taught?

In [27]:
%%sql
SELECT t.primary_instructor, c.catalog_id
FROM COURSES as c
JOIN TEACHERS as t ON c.TID = t.TID
WHERE primary_instructor like "Christopher L.%"
Limit 10;

 * sqlite:///CourseData.db
Done.

[('Christopher L.  Huntley', 'IS 0100'),
 ('Christopher L.  Huntley', 'IS 0135'),
 ('Christopher L.  Huntley', 'IS 0320'),
 ('Christopher L.  Huntley', 'IS 0100'),
 ('Christopher L.  Huntley', 'IS 0100'),
 ('Christopher L.  Huntley', 'IS 0135'),
 ('Christopher L.  Huntley', 'IS 0320'),
 ('Christopher L.  Huntley', 'IS 0135'),
 ('Christopher L.  Huntley', 'IS 0240'),
 ('Christopher L.  Huntley', 'IS 0585C')]

### How Many Courses has Dr. Huntley Taught?

In [28]:
%%sql
SELECT DISTINCT t.primary_instructor, COUNT(c.catalog_id) AS courses_taught
FROM COURSES as c
JOIN TEACHERS as t ON c.TID = t.TID
WHERE primary_instructor like "Christopher L.%"
Limit 10;

 * sqlite:///CourseData.db
Done.

[('Christopher L.  Huntley', 31)]

### What Courses has Dr. Massey Taught?

In [29]:
%%sql
SELECT t.primary_instructor, c.catalog_id
FROM COURSES as c
JOIN TEACHERS as t ON c.TID = t.TID
WHERE primary_instructor like "Dawn W%"
Limit 10;

 * sqlite:///CourseData.db
Done.

[('Dawn W  Massey', 'AC 0570'),
 ('Dawn W  Massey', 'AC 0590'),
 ('Dawn W  Massey', 'AC 0590'),
 ('Dawn W  Massey', 'AC 0590'),
 ('Dawn W  Massey', 'AC 0570'),
 ('Dawn W  Massey', 'AC 0590'),
 ('Dawn W  Massey', 'AC 0590'),
 ('Dawn W  Massey', 'AC 0590'),
 ('Dawn W  Massey', 'AC 0570'),
 ('Dawn W  Massey', 'AC 0570')]

### How Many Courses has Dr. Massey Taught?

In [30]:
%%sql
SELECT DISTINCT t.primary_instructor, COUNT(c.catalog_id) AS courses_taught
FROM COURSES as c
JOIN TEACHERS as t ON c.TID = t.TID
WHERE primary_instructor like "Dawn%"
Limit 10;

 * sqlite:///CourseData.db
Done.

[('Dawn W  Massey', 52)]

In [31]:
%%sql
SELECT TID, primary_instructor FROM TEACHERS
limit 10;

 * sqlite:///CourseData.db
Done.

[(1, 'Michael P.  Coyne'),
 (2, 'Rebecca I.  Bloch'),
 (3, 'Paul   Caster'),
 (4, 'Jo Ann   Drusbosky'),
 (5, 'Arleen N.  Kardos'),
 (6, 'Scott M  Brenner'),
 (7, 'Kevin C.  Cassidy'),
 (8, 'Bruce   Bradford'),
 (9, 'Milo W.  Peck'),
 (10, 'Stephen E.  Yost')]

In [32]:
%%sql
SELECT c.term, cm.start, cm.location, c.catalog_id
FROM COURSES AS c
JOIN COURSEMEETINGS AS cm
LIMIT 20;

 * sqlite:///CourseData.db
Done.

[('Fall2014', '2014-09-02T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-09-05T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-09-09T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-09-12T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-09-16T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-09-19T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-09-23T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-09-26T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-09-30T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-10-03T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-10-07T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-10-10T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-10-17T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-10-21T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-10-24T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-10-28T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-10-31T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-11-04T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-11-07T08:00:00', 'DSB 105', 'AC 0011'),
 ('Fall2014', '2014-11-11T08:00:00', 'DSB 105', 'AC 0011')]

In [33]:
%%sql
SELECT cm.start, c.catalog_id
FROM COURSES AS c
JOIN COURSEMEETINGS AS cm
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[('2014-09-02T08:00:00', 'AC 0011'),
 ('2014-09-05T08:00:00', 'AC 0011'),
 ('2014-09-09T08:00:00', 'AC 0011'),
 ('2014-09-12T08:00:00', 'AC 0011'),
 ('2014-09-16T08:00:00', 'AC 0011'),
 ('2014-09-19T08:00:00', 'AC 0011'),
 ('2014-09-23T08:00:00', 'AC 0011'),
 ('2014-09-26T08:00:00', 'AC 0011'),
 ('2014-09-30T08:00:00', 'AC 0011'),
 ('2014-10-03T08:00:00', 'AC 0011')]

Have to finish insterting COURSES column

In [34]:
%%sql
SELECT TID, primary_instructor FROM TEACHERS
limit 10;

 * sqlite:///CourseData.db
Done.

[(1, 'Michael P.  Coyne'),
 (2, 'Rebecca I.  Bloch'),
 (3, 'Paul   Caster'),
 (4, 'Jo Ann   Drusbosky'),
 (5, 'Arleen N.  Kardos'),
 (6, 'Scott M  Brenner'),
 (7, 'Kevin C.  Cassidy'),
 (8, 'Bruce   Bradford'),
 (9, 'Milo W.  Peck'),
 (10, 'Stephen E.  Yost')]

In [35]:
%%sql
SELECT course_title AS Course,  catalog_id AS Code, program_name AS Program, 
FROM COURSECATALOGS
WHERE credits = "6 credits"
LIMIT 50;

 * sqlite:///CourseData.db
(sqlite3.OperationalError) near "FROM": syntax error [SQL: 'SELECT course_title AS Course,  catalog_id AS Code, program_name AS Program, \nFROM COURSECATALOGS\nWHERE credits = "6 credits"\nLIMIT 50;'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [36]:
%%sql
VACUUM;

 * sqlite:///CourseData.db
Done.

[]